@page "/clean-code-on-paste"

@* for RTEJS_BlazorServer.RTEJS.RichTextEditor : <RichTextEditor/> *@
@using RTEJS_BlazorServer.RTEJS

@code
{
	RTEConfig rtecfg = new RTEConfig() { toolbar="full" };
	string? previewcode = "<b>Click button to show the editing code</b>";
	string? mycode = null;//if binded value is null , the <InitHtml> template will be used
	

	void ShowHtmlCode()
	{
		//TODO: filter mycode here , remove Malicious Code

		previewcode = mycode;
	}

	string changedmsg = "";

	void EditorCodeChanged(string newcode)
	{
		//mycode already be setted from @bind-HtmlCode="mycode"
		changedmsg = "changed at " + DateTime.Now.ToString("HH:mm:ss") + " , " + mycode.Length + " chars";
	}
}

<PageTitle>Basic Editor</PageTitle>

<h2>Cleaning pasted content</h2>
<p class="mb-4">
	By default, RichTextEditor will automatically detect/clean the dirty pasted content. You have full control over how contributors paste content into the Editor. For example, you can disable the paste function, force pasting as plain text or prompt the user about cleaning up the content when pasting from MS Word.
</p>

<hr />

<RichTextEditor Config="rtecfg" @bind-HtmlCode="mycode" OnHtmlCodeChanged="EditorCodeChanged">
	<InitHtml>
		<p>Hello world!</p>
		<p><img src='/images/editor-image.png' /></p>
	</InitHtml>
</RichTextEditor>

<hr />
<button @onclick="ShowHtmlCode">Show HtmlCode</button> @changedmsg

<br />
<br />
<br />
<div style="margin:12px;padding:12px;border:dotted 1px gray;">
	@((MarkupString)previewcode)
</div>

<br />
<br />
